@using Microsoft.AspNet.Identity
<hr />
@foreach (var userBoard in ViewBag.UserBoards)
{
    var shortName = @userBoard.AspNetUser.FirstName[0] + "" + @userBoard.AspNetUser.LastName[0];

    <form action="@Url.Action("Delete", "UserBoards")" method="POST">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@userBoard.Id"/>
        <div class="member col-xs-12" style="font-size: 16px">
            <div class="text-center col-xs-1">
                <button class="btn btn-default btn-block btn-sm pull-right" style="width: 30px; background-color: lightgray; cursor: default" type="button">
                    @shortName
                </button>
            </div>
            <div class="col-xs-3">
                <b>@userBoard.AspNetUser.FirstName @userBoard.AspNetUser.LastName</b>
            </div>
            <div class="col-xs-4">@userBoard.AspNetUser.Email</div>
            <div class="col-xs-3">Member</div>

            @{ string userId = HttpContext.Current.User.Identity.GetUserId();}

            @if (ViewBag.OwnerId == @userId || @userId == @userBoard.UserId)
            {
                <div class="col-xs-1">
                    <a href="#" class="delete_member btn btn-primary btn-xs" style="background-color: #4d4d4d; border-color: #4d4d4d">Leave</a>
                </div>
            }
            <div class="clearfix"></div>
            <hr/>
        </div>
    </form>
}
